<div class="container">
  <h1 class="text-center">MultiTweets - Tweet Longer</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-center">
      <p>MultiTweets is an application that will split your looooooonnnnnnnnnnngggggggggggg tweet into multiple numbered tweets for you and post it from your twitter account!</p>
    </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5 class="text-center">
      <p>Just type in what you want and stop worrying about the 140 character limit imposed by Twitter. Its all pretty simple.</p><BR>
    </h5>
    </div>
  </div>
</div>