<div class="container">
  <div class="row">
    <!--
    <div class="col-xs-12">
      <h4><span class="label label-default">Enter Your Long Text Below:</span></h4>
    </div>
    -->
    <div class="row">
      <div class="col-xs-12">
        <textarea #ta class="form-control" rows="3" placeholder="Type in your long tweet here..." (input)="prepareTweets(ta.value)" value={{_longText}}></textarea>
      </div>
    </div>
    <div class="col-xs-12 text-center form-inline">
      <label><span class="h4 label-default">Total Number of Tweets: {{_totalTweets}}</span></label>
      <button (click)="fireOffTweets()" type="button" class="btn btn-primary btn-lg">Tweet with MultiTweets!</button>
    </div>
<!--    <div class="row">
      <ol>
        <li *ngFor="let tweet of _multiTweets">
          {{ tweet }}
        </li>
      </ol>
    </div>
-->  </div>
</div>