@import "../../ui/header/header.component.css";

textarea {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  width: 80%;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

label {
    background: none;
    margin: 10px;
    padding: 20px 20px;
}