<app-header>
</app-header>

<!--  
  <div class="row">
    <div class="col-xs-12 text-center">
      <button (click)="doLogout()" type="button" class="text-center btn btn-warning btn-lg">Logout</button>
    </div>
  </div>
-->
<section [hidden]="(_angularFire.auth | async)?.twitter">
  <div class="row">
    <div class="col-xs-12 text-center">
      <button (click)="doLogin()" type="button" class="text-center btn btn-social btn-twitter btn-lg"><i class="fa fa-twitter"></i>Sign in with Twitter</button>
    </div>
  </div>
</section>

<section *ngIf="(_angularFire.auth | async)?.twitter">
  <div class="row">
    <app-multi-text></app-multi-text>
  </div>
</section>

<app-footer></app-footer>
