/* You can add global styles to this file, and also import other style files */
@import url("https://bootswatch.com/cyborg/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css");

@import url("ui/header/header.component.css");